<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myself.Dao.StudentMapper">
    
<!--使用这个方法查出来的teacher为null，我们需要改进一下
    <select id="getStudent" resultType="Student">
      select * from student ;
    </select>-->

    <!--方法1:按照结果嵌套处理(常用)-->
    <select id="getStudent2" resultMap="StudentTeacher">
        select s.id as sid,s.name as sname,t.name as tname
        from student s,teacher t
        where t.id = s.tid;
    </select>
    <!--column:数据库中的字段名,property:实体类中的属性名-->
    <resultMap id="StudentTeacher" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>

    <!--=============================================================================-->
    <!--方法2:按照查询嵌套处理-->
    <select id="getStudent" resultMap="Student's Teacher">
        select * from student ;
    </select>
    
    <resultMap id="Student's Teacher" type="Student">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <!--复杂的属性需要单独处理
                对象:association
                集合:collection -->
        <association column="tid" property="teacher" javaType="Teacher" select="getTeacher"/>
    </resultMap>

    <select id="getTeacher" resultType="Teacher">
        select * from teacher where id = #{tid};
    </select>
</mapper>